# Gradle
.gradle/
.gradle-home/
**/build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# Android
local.properties

# IDE
.idea/
*.iml

# Kotlin
**/*.class

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# iOS
iosApp/Pods/
iosApp/Podfile.lock
iosApp/*.xcworkspace
iosApp/*.xcodeproj
iosApp/DerivedData/
