name: Android CI

on:
  push:
    branches: [ "master", "main" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"
      - uses: android-actions/setup-android@v3
      - uses: gradle/actions/setup-gradle@v3
      - name: Build Debug APK
        run: ./gradlew :androidApp:assembleDebug
